In [2]:
#đọc dữ liệu từ file csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

path_practice4 = "Data/Data_Practice4_ok.csv"
df_practice4 = pd.read_csv(path_practice4)
df_practice4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 961 entries, 0 to 960
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Age      961 non-null    int64
 1   Shape    961 non-null    int64
 2   Margin   961 non-null    int64
 3   Density  961 non-null    int64
 4   Target   961 non-null    int64
dtypes: int64(5)
memory usage: 37.7 KB

In [3]:
#Hiển thị 5 dòng dữ liệu của Dataset
df_practice4.head()

   Age  Shape  Margin  Density  Target
0    3      3       2        0       1
1    1      1       0        0       1
2    2      0       2        0       1
3    0      1       0        0       0
4    3      1       2        0       1

In [16]:
df_practice4.tail()

     Age  Shape  Margin  Density  Target
956    1      2       0        0       0
957    2      0       2        0       1
958    2      0       2        0       0
959    3      0       2        0       1
960    2      3       3        0       0

In [7]:
#Tách biến độc lập - biến phụ thuộc
#1.Tách biến độc lập X_pratice4
X_pratice4 = df_practice4.iloc[:,1:].values
X_pratice4

array([[3, 2, 0, 1],
       [1, 0, 0, 1],
       [0, 2, 0, 1],
       ...,
       [0, 2, 0, 0],
       [0, 2, 0, 1],
       [3, 3, 0, 0]], dtype=int64)

In [8]:
X_pratice4.shape

(961, 4)

In [10]:
#2.Tách biến phụ thuộc Y_practice4
Y_practice4 = df_practice4.iloc[:,0].values
Y_practice4

array([3, 1, 2, 0, 3, 2, 3, 1, 2, 2, 3, 1, 2, 1, 2, 2, 2, 2, 2, 1, 3, 2,
       1, 1, 2, 3, 3, 2, 1, 2, 1, 2, 2, 1, 4, 3, 2, 3, 1, 2, 2, 3, 2, 2,
       2, 1, 2, 0, 1, 3, 3, 3, 0, 2, 2, 1, 1, 2, 1, 2, 2, 2, 2, 2, 3, 0,
       1, 3, 1, 2, 3, 3, 2, 3, 3, 0, 3, 2, 2, 3, 3, 1, 3, 2, 2, 0, 2, 1,
       2, 2, 3, 3, 3, 2, 2, 2, 1, 1, 2, 0, 2, 2, 2, 0, 2, 2, 1, 0, 2, 0,
       1, 3, 2, 2, 1, 2, 1, 2, 2, 4, 2, 1, 0, 3, 0, 2, 3, 1, 2, 1, 3, 3,
       4, 2, 3, 1, 2, 2, 2, 3, 3, 2, 1, 1, 2, 2, 2, 2, 3, 1, 2, 3, 3, 1,
       0, 2, 2, 2, 2, 2, 3, 1, 0, 2, 1, 4, 3, 2, 2, 4, 0, 1, 2, 1, 2, 2,
       2, 1, 3, 1, 1, 3, 0, 1, 3, 3, 1, 3, 4, 2, 0, 3, 2, 1, 2, 4, 1, 3,
       3, 2, 1, 1, 2, 1, 2, 3, 1, 1, 2, 3, 1, 3, 2, 1, 3, 1, 2, 2, 1, 1,
       1, 1, 2, 3, 2, 1, 2, 2, 2, 1, 3, 3, 3, 2, 2, 1, 2, 2, 2, 0, 3, 2,
       1, 0, 3, 1, 1, 2, 1, 1, 0, 2, 1, 3, 2, 3, 3, 3, 3, 3, 2, 1, 1, 1,
       3, 2, 3, 2, 3, 2, 3, 2, 3, 3, 2, 3, 3, 1, 3, 2, 1, 1, 1, 3, 2, 2,
       3, 1, 2, 2, 3, 1, 1, 3, 2, 3, 0, 2, 3, 1, 1, 2, 1, 2, 2, 2, 1, 1,
       1, 1, 2, 2, 3, 3, 3, 3, 1, 3, 1, 2, 3, 2, 0, 0, 3, 1, 1, 1, 3, 2,
       4, 2, 2, 2, 2, 3, 3, 4, 1, 2, 1, 2, 1, 0, 2, 2, 2, 3, 1, 1, 0, 1,
       0, 1, 4, 1, 1, 2, 2, 1, 4, 3, 1, 1, 2, 1, 1, 2, 2, 3, 3, 1, 1, 1,
       3, 2, 1, 3, 2, 1, 1, 2, 2, 1, 3, 3, 3, 2, 1, 1, 3, 2, 3, 1, 0, 2,
       3, 2, 1, 3, 2, 3, 1, 2, 3, 1, 2, 3, 3, 3, 2, 3, 2, 1, 3, 1, 1, 2,
       3, 3, 3, 0, 1, 0, 1, 3, 3, 2, 2, 0, 1, 1, 1, 1, 4, 3, 2, 3, 1, 1,
       2, 2, 0, 2, 3, 3, 3, 0, 2, 3, 3, 1, 2, 2, 2, 0, 3, 3, 4, 1, 0, 2,
       2, 0, 2, 2, 4, 3, 0, 3, 1, 2, 2, 2, 2, 1, 1, 2, 2, 1, 1, 1, 1, 1,
       2, 0, 1, 1, 1, 1, 1, 2, 2, 4, 2, 2, 4, 2, 2, 3, 1, 2, 0, 0, 1, 0,
       1, 1, 3, 3, 1, 2, 4, 3, 2, 0, 2, 3, 0, 3, 2, 2, 3, 1, 2, 2, 3, 2,
       2, 3, 1, 2, 1, 2, 0, 3, 0, 2, 2, 2, 0, 1, 1, 1, 3, 0, 2, 3, 3, 3,
       3, 0, 1, 0, 3, 1, 2, 2, 2, 4, 1, 2, 2, 3, 3, 1, 2, 2, 1, 2, 3, 2,
       1, 1, 2, 2, 1, 0, 4, 1, 2, 2, 1, 2, 2, 2, 1, 1, 2, 3, 2, 2, 0, 2,
       2, 3, 4, 2, 2, 2, 2, 1, 2, 2, 2, 3, 3, 2, 1, 4, 1, 2, 3, 2, 1, 3,
       4, 1, 1, 1, 2, 2, 3, 2, 2, 2, 3, 2, 1, 0, 2, 2, 1, 3, 0, 1, 2, 1,
       3, 2, 3, 1, 2, 0, 1, 2, 3, 2, 2, 2, 1, 3, 1, 1, 3, 2, 3, 2, 1, 3,
       2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 3, 3, 2, 3, 2, 2, 1, 2, 1, 0, 2, 2,
       1, 2, 2, 1, 3, 2, 2, 1, 2, 3, 2, 3, 0, 3, 2, 2, 1, 3, 2, 2, 2, 2,
       2, 2, 2, 1, 3, 0, 2, 0, 2, 3, 2, 2, 1, 3, 3, 3, 0, 2, 3, 2, 3, 2,
       4, 3, 0, 2, 1, 2, 2, 0, 1, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 3, 3, 2,
       2, 2, 2, 0, 1, 2, 2, 2, 3, 2, 2, 2, 1, 3, 3, 2, 1, 3, 3, 2, 3, 3,
       2, 1, 3, 3, 3, 1, 1, 0, 2, 2, 0, 0, 2, 3, 2, 2, 1, 2, 3, 2, 2, 1,
       1, 1, 1, 2, 2, 4, 3, 3, 2, 4, 0, 2, 2, 0, 2, 2, 2, 3, 3, 2, 3, 2,
       2, 3, 2, 1, 1, 1, 2, 3, 1, 3, 1, 2, 2, 4, 0, 3, 4, 2, 3, 2, 3, 3,
       1, 2, 1, 2, 0, 3, 2, 1, 1, 2, 2, 0, 4, 3, 1, 1, 1, 1, 2, 1, 2, 1,
       1, 3, 2, 2, 2, 3, 2, 0, 3, 1, 0, 0, 2, 2, 1, 1, 2, 3, 1, 2, 2, 1,
       2, 2, 0, 1, 2, 2, 2, 2, 3, 1, 3, 1, 3, 1, 1, 3, 2, 3, 2, 2, 2, 2,
       1, 2, 2, 1, 2, 2, 3, 1, 3, 1, 2, 2, 3, 2, 2, 1, 1, 1, 1, 2, 0, 2,
       2, 2, 1, 0, 3, 0, 2, 2, 2, 2, 2, 3, 2, 3, 2, 2, 1, 2, 2, 3, 3, 2,
       2, 2, 2, 2, 3, 3, 3, 2, 1, 2, 1, 2, 2, 3, 2], dtype=int64)

In [11]:
Y_practice4.shape

(961,)

In [15]:
#3.Tách thành tập Train-Test theo tỷ lệ 80-20:
from sklearn.model_selection import train_test_split
X_practice4_train, X_practice4_test, Y_practice4_train, Y_practice4_test = train_test_split(X_pratice4,
                                                                                   Y_practice4,
                                                                                   test_size = 0.2,
                                                                                   random_state=42)
print('1. Kích thước tập training:',X_practice4_train.shape)
print('2. Kích thước tập test:',X_practice4_test.shape)

1. Kích thước tập training: (768, 4)
2. Kích thước tập test: (193, 4)

In [ ]:
#4.Sử dụng thuật toán MultinomialNB